node_modules
config.json
sugerencias
musica
.vscode
settings.yaml
Otros
lanzar.vbs - Acceso directo.lnk
data
Comandos desactualizados
conectados
conectados
data/discord_users.json
data/latestDiscordMessageIds.json
data/latestDiscordMessageIds.json
conectados
