node_modules
config.json
sugerencias
musica
.vscode
settings.yaml
Otros
lanzar.vbs - Acceso directo.lnk
data
Comandos desactualizados
conectados
data/discord_users.json
data/latestDiscordMessageIds.json
data/latestDiscordMessageIds.json
comandos/cerveza.js
user-audio
tail
error
.dockerignore
.DS_STORE