version: "3.3"

services:

    Choribot:
        image: "choribot:latest"

        volumes:
            - "/home/necax/Dockerfiles/Choribot/Datos/:/usr/src/app/Otros/"
        restart: "on-failure"
        container_name: choribot
        build:
                context: .
                dockerfile: Dockerfile

